<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache" 
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/context/spring-cache-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">
	
	
	<!-- Handles HTTP GET requests for /resources/** by efficiently serving up static resources in the ${webappRoot}/resources directory -->
	<mvc:resources mapping="/resources/js/global/seajs/**" location="/resources/js/global/seajs/" />
	<mvc:resources mapping="/resources/js/global/paging/**" location="/resources/js/global/paging/" />
	<mvc:resources mapping="/resources/js/global/plugin/**" location="/resources/js/global/plugin/" />
	<mvc:resources mapping="/resources/js/**" location="/resources/js/" />
	<mvc:resources mapping="/resources/czda/**" location="/resources/czda/" />
	<mvc:resources mapping="/resources/czda/js/**" location="/resources/czda/js/" />
	<mvc:resources mapping="/resources/style/**" location="/resources/style/" />
	<mvc:resources mapping="/resources/czda/style/**" location="/resources/czda/style/" />
	<mvc:resources mapping="/resources/lib/**" location="/resources/lib/" />
	<mvc:resources mapping="/resources/images/**" location="/resources/images/" />
	<mvc:resources mapping="/resources/czda/images/**" location="/resources/czda/images/" />
	<mvc:resources mapping="/resources/html/**" location="/resources/html/" />
	<mvc:resources mapping="/resources/excelSimple/**" location="/resources/excelSimple/" />
	<mvc:resources mapping="/resources/czda/photos/**" location="/resources/czda/photos/" />
	<!-- 启动Spring的支持注解 -->
	<context:annotation-config/>
	<mvc:annotation-driven />
	<!-- 设置当前项目的根包 ，扫描有注解文件的包-->
	<context:component-scan base-package="com.ibest.*" />
	<!-- 完成请求和注解POJO的映射 -->
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter"/>
			</list>
		</property>
	</bean>
	
	<bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>apolication/json;charset=UTF-8</value>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	<!-- 对转向页面的路径解析。prefix：前缀， suffix：后缀 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/WEB-INF/jsp/" p:suffix=".jsp"/>
	
	<!-- 异常处理类 -->
	<!-- <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="defaultErrorView">
			<value>error</value>
		</property>
		<property name="exceptionMappings">
			<props>
				<prop key="java.sql.SQLException">/error/error</prop>
				<prop key="java.lang.RuntimeException">/error/error</prop>
			</props>
		</property>
	</bean> -->
	<bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">  
			<props>
				<prop key="com.platform.exception.SessionTimeOutException">error/exception-error</prop>
				<prop key="com.platform.exception.NoAccessException">error/exception-error</prop>
			</props>  
		</property>
        <property name="defaultErrorView" value="error/system-error"></property>
		<property name="warnLogCategory">    
	        <value>org.springframework.web.servlet.handler.SimpleMappingExceptionResolver</value>  
	    </property>
	</bean>
	
<!-- 	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" p:defaultEncoding="utf-8"/> -->
	<!-- <mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/*"/>
			<bean class="com.ibest.mvc.inteceptor.MyInteceptor" >
				<property name="allowUrls">  
			        <list>
			          <value>/login</value>
			          <value>/logout</value>
			        </list>  
		     	</property>
			</bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/web/**"/>
			<bean class="com.ibest.mvc.inteceptor.MyInteceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/jsp/**"/>
			<bean class="com.ibest.mvc.inteceptor.MyInteceptor" >
				<property name="allowUrls">  
			        <list>
			          <value>/jsp/login</value>
			        </list>  
		     	</property>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors> -->
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	<property name="defaultEncoding" value="utf-8"></property>
	<property name="maxUploadSize" value="10485760000"></property>
	<property name="maxInMemorySize" value="40960"></property>
</bean>
</beans>

